$clr_primary: #fef852;
$clr_secondary: #7ad7f9;
$clr_unactive: #e4e4e4;
$clr_active: rgb(35, 194, 35);
$clr_darkblue: rgba(17, 30, 72, 1) 0%;
$clr_unactive_transparent: #505050db;
$clr_font_white: #fff;
$clr_font_gray: #989898;
$clr_font_red: #ff563f;
$clr_font_black: #000;
$clr_gradient: linear-gradient(
	180deg,
	rgba(17, 30, 72, 1) 0%,
	rgba(44, 98, 172, 1) 35%,
	rgba(145, 229, 253, 1) 100%
);

$fontsize_1: 32px;
$fontsize_2: 28px;
$fontsize_3: 22px;
$fontsize_4: 18px;
$fontsize_5: 14px;
