@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');
@import './root/Variables.scss';

.anim-container {
	width: 100%;
	height: 100%;
	// min-width: 275px;
	max-width: 100%;
	position: relative;
	left: 0;
	margin-top: 15px;
	margin-bottom: -5px;
	max-height: 175px;
	// background-color: rgba(200, 200, 200, 0.63);
	border-radius: 10px;

	.anim {
		border-radius: 10px;
		position: relative;
		width: 100%;
		// min-width: 275px;
		height: 100%;
		left: 0;
		z-index: 2;
		// background-color: #373737;
		background-image: url('https://firebasestorage.googleapis.com/v0/b/cloudia-ai.appspot.com/o/background.png?alt=media&token=ad38193f-5db9-41e1-86fe-d2f8d0c776d8');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		margin-bottom: -25px;

		// bottom: 0;

		filter: url(#threshold) blur(0.6px);
	}

	.filters {
		position: absolute;
		left: 0;
		width: 100%;
	}

	.text1,
	.text2 {
		position: absolute;
		width: 100%;
		height: 100%;
		display: inline-block;
		margin-top: 130px;
		left: 0;

		font-family: 'Raleway', sans-serif;
		font-size: 25pt;
		color: white;

		z-index: 4;

		text-align: center;

		user-select: none;
	}
}
