@font-face {
	font-family: 'Public Sans Roman';
	src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/85648/PublicSans-Roman-VF.ttf');
}

$dark-purple: hsl(285, 86%, 4%);
$neon-blue: hsl(190, 100%, 75%);
$neon-pink: hsl(303, 100%, 73%);
$size: 10;
$unit: calc(($size / 100) * 1vmin);

.anim-container {
	// background: $dark-pruple;
	position: relative;
	width: 100%;
	height: 100vh;

	.text {
		position: absolute;
		left: calc(100vw / 4);
		right: calc(100vw / 4);
		transform: rotate(-45deg) skew(15deg, 15deg);
		width: calc(500 * $unit);
		height: calc(600 * $unit);
		font-size: calc(160 * $unit);
		-webkit-text-fill-color: #ffffff00;
		-webkit-text-stroke-width: 4px;
		-webkit-text-stroke-color: $neon-pink;
		line-height: calc(160 * $unit);
		padding: calc(60 * $unit);
	}

	.left-side,
	.bottom-side {
		position: absolute;
		background: none transparent;
		width: 0px;
		height: 0px;
	}

	.left-side {
		left: 0;
		bottom: 0;
		height: calc(200 * $unit);
		width: calc(5 * $unit);
	}

	.bottom-side {
		bottom: 0;
		left: 0;
		width: calc(200 * $unit);
		height: calc(5 * $unit);
	}

	.text1 {
		top: 0px;
		-webkit-text-fill-color: transparent;
		filter: blur(0.5px);
		background-blend-mode: screen;
	}

	.text2 {
		top: calc(1 * $unit);
		background-blend-mode: screen;
		filter: blur(0.5px);
	}

	.text3 {
		top: calc(10 * $unit);
		opacity: 1;
		filter: blur(1px);
	}

	.text4 {
		top: calc(20 * $unit);
		opacity: 0.8;
		filter: blur(1.5px);
	}

	.text5 {
		top: calc(30 * $unit);
		opacity: 0.6;
		filter: blur(2px);
	}

	.text6 {
		top: calc(40 * $unit);
		opacity: 0.4;
		filter: blur(2.5px);
	}

	.text7 {
		top: calc(50 * $unit);
		opacity: 0.2;
		filter: blur(3px);
	}

	.word.in,
	.word.too,
	.word.deep {
		opacity: 0;
	}
}
