@import './root/Variables.scss';

.final {
	height: 70vh;
	flex-direction: column;
	text-align: center;
	display: flex;
	// margin-top: 25vh;
	align-items: center;
	justify-content: center;
	// padding-inline: 2rem;
	width: 600px;
	width: 85%;
	min-width: 200px;
	max-width: 550px;

	.final-container {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-around;
		gap: 1rem;
		margin-bottom: 2rem;
		border-radius: 15px;
		height: 100%;
		width: 100%;
		padding-inline: 2rem;
		background-color: rgba(17, 19, 113, 0.5);
		color: white;

		dialog {
			color: black;
			position: absolute;
			// position: relative;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			background-color: rgba(17, 19, 113, 0.5);

			.modal-card-container {
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				.modal-card {
					margin: auto;
					background-color: white;
					height: 400px;
					width: 300px;
					border-radius: 15px;
					padding: 1rem;
					text-align: start;
					display: flex;
					flex-direction: column;
					justify-content: space-around;

					.buttons-container {
						display: flex;
						gap: 1rem;
						padding: 1rem;
					}
				}
			}
		}

		h4 {
			border-top: 1px solid white;
			padding-top: 30px;
			padding-bottom: 15px;
			text-align: start;
		}
	}
}
