@import './root/Variables.scss';

.home {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	text-align: center;
	z-index: 1;
	// position: relative;

	.card {
		// background: $clr_gradient;
		// background: url('https://firebasestorage.googleapis.com/v0/b/stf-db.appspot.com/o/background.png?alt=media&token=350207ed-aa23-43d9-9c0b-cbed575d5d68');
		// background-size: cover;
		// background-repeat: no-repeat;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 3rem;
		color: $clr_font_white;
		gap: 3rem;
		padding-bottom: 75%;
		// padding-top: 0;

		.logo-container {
			// background-color: $clr_font_white;
			background-color: none;
			color: $clr_font_gray;
			height: 100px;
			width: 100px;
			border-radius: 25px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.title {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			align-items: center;
			max-width: 50ch;

			h1 {
				max-width: 15ch;
				font-weight: 600;
			}

			p {
				font-weight: 200;
				color: rgba(255, 255, 255, 0.75);
			}
		}
	}

	.button-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		// justify-content: flex-end;
		justify-content: center;
		// margin-bottom: 100px;
		gap: 4rem;
		position: absolute;
		top: 75%;
		left: 50%;
		transform: translate(-50%, -50%);
		// background-color: $clr_font_white;
		// background-color: transparent;
		// height: 25%;

		.error {
			color: $clr_font_red;
			height: 27px;
		}

		.privacy-notice {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.5rem;
			color: rgba(255, 255, 255, 0.703);
			font-size: 13px;
		}

		// button {
		// 	background-color: rgba(200, 200, 200, 0.63);
		// 	h3 {
		// 		font-size: 15px;
		// 	}
		// }
	}
}

.disabled {
	background-color: rgba(200, 200, 200, 0.63);
	// background-color: $clr_unactive;
}

.privacy-notice-container {
	position: absolute;
	height: 100vh;
	width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	padding: 1rem;
	background-color: $clr_unactive_transparent;

	.privacy-notice-full {
		max-height: 70%;
		overflow: scroll;
		background-color: $clr_font_white;
		padding: 1rem;
		border-radius: 15px;

		.privacy-notice__title-container {
			display: flex;
			justify-content: space-between;

			.cross::before {
				content: '\00d7';
				color: $clr_font_black;
				font-weight: 100;
				font-family: Arial, sans-serif;
				font-size: 26px;
				// display: flex;
				justify-content: flex-end;
				height: 15px;
				width: 15px;
			}
		}
	}
}

.closed {
	z-index: -1;
}

.open {
	z-index: 1;
}
